Language: Cpp
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterUnion: false
  AfterStruct: false
  BeforeCatch: true
  BeforeElse: true
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: false
ColumnLimit: 0
